@using (Html.BeginForm("CreateIllness", "Consultations", FormMethod.Post))
{

    <legend>Create Illness</legend>

    <div class="editor-field">
        @Html.TextBox("name", "", new { @class = "form-control " })
    </div>
    <br />

    <p>
        <input class="btn btn-primary" type="submit" value="Save" />
    </p>

}


