
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderPage("~/Views/Shared/_PdfHeader.cshtml")
    @RenderBody()
    @RenderSection("footer", false)
</body>

</html>

